{{ form_start(notificationForm) }}
<div class="app-card app-card-settings shadow-sm p-4">
    <div class="app-card-body">
        <div class="form-check form-switch mb-3">
            {{ form_row(notificationForm.notifyByEmail) }}
        </div>
        <div class="form-check form-switch mb-3">
            {{ form_row(notificationForm.notifyByNumber) }}
        </div>
    </div><!--//app-card-body-->
</div>
<button type="submit" class="mt-2 btn app-btn-primary">Enregistrer</button>
{{ form_end(notificationForm) }}