{% if criteriaWithResults.getTotalItemCount > 0 %}
    <div {{ vue_component('UserSearchComponent',
        {
            criteriaWithResults: {
                'items': criteriaWithResults.getItems(),
                'pagination': criteriaWithResults.getPaginationData()
            },
            token: csrf_token('delete'),
            path: path('app_criteria_delete')
        })
    }}>
    </div>
{% else %}
    <div class="alert alert-info">
        {{ 'no.criteria.found'|trans }}
    </div>
{% endif %}
