<div {{ vue_component('UserSearchComponent',
            {
                criteriaWithResults: criteriaWithResults,
                token: csrf_token('delete'),
                path: path('app_criteria_delete')
            })
}}>

</div>