{% for criteria in userCriteria %}
    <div class="col-12 col-md-6 mb-5">
        <div class="card">
            <div class="card-body p-4 d-flex align-items-center">
                <div class="ms-3">
                    <div class="display-6">{{criteria.location.properties.name}}</div>
                    <div class="small text-muted">Ajouté le : {{ criteria.createdAt|date('d/m/Y') }}</div>
                </div>
            </div>
            <div class="card-actions p-3 justify-content-between">
                <span class="badge bg-dark ms-2">Default</span>
                <div class="card-action-buttons">
                    <button class="btn btn-text-primary mdc-ripple-upgraded" type="button">Modifier</button>
                    <button class="btn btn-text-primary mdc-ripple-upgraded" type="button">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}