{% for criteria in userCriteria %}

{% endfor %}
<div {{ vue_component('UserSearchComponent',
            {
                criteria: userCriteria,
                token: csrf_token('delete'),
                path: path('app_criteria_delete')
            })
}}>

</div>