{% extends "base.html.twig" %}

{% block content_title %}Profil{% endblock %}

{% block content %}
	<div {{ vue_component('setting/SettingComponent', {user: userData, token: csrf_token('edit-user')}) }}></div>
{% endblock %}


