{% extends 'authentication/base.html.twig' %}

{% block title %}
    {{ 'mail.template.reset.password.title'|trans }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock %}
