<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>{% block page_title %}Crous - App{% endblock %}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
	<!-- FontAwesome JS-->
	<script defer src="/plugins/fontawesome/js/all.min.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="/css/portal.css">

	{% block styles %}{% endblock %}


</head> 

<body class="app">   	
    <header class="app-header fixed-top">
		{% include '_partials/header.html.twig' %}
		{% include '_partials/sidebar.html.twig' %}
    </header>
    
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <h1 class="app-page-title">{% block content_title %}Overview{% endblock %}</h1>

				{% block alert_messsage %}
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
				{% endblock %}

				{% block content %}{% endblock %}


			</div><!--//container-fluid-->
	    </div><!--//app-content-->

		{% include '_partials/footer.html.twig' %}
	    
    </div><!--//app-wrapper-->
	<script src="/plugins/popper.min.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Charts JS -->
	<script src="/plugins/chart.js/chart.min.js"></script>
	<script src="/js/index-charts.js"></script>

	<!-- Page Specific JS -->
	<script src="/js/app.js"></script>
	{% block scripts %}{% endblock %}

</body>
</html> 

