{% extends "../../../base.html.twig" %}

{% block content_title %}
    Choix de la residence
{% endblock %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/search/search.js" ></script>
{% endblock %}

{% block alert_messsage %}
    <div class="alert alert-success d-none" id="alert-success">
        Opération effectuée avec succès !
    </div>
{% endblock %}


{% block content %}
    <form method="post" action="{{ path('criteria.location') }}" id="criteria-form">
        <hr class="mb-4">
        {% include 'section/form-section.html.twig' with
            {
                view_path: 'pages/criteria/section/adresse.html.twig',
                title: 'Adresses',
                description: "Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. <a href=\"help.html\">Learn more</a>"
            }
        %}
        <hr class="my-4">
        {% include 'section/form-section.html.twig' with
            {
                view_path: 'pages/criteria/section/type.html.twig',
                title: 'Type de logement',
                description: "Settings section intro goes here. Morbi vehicula, est eget fermentum ornare."
            }
        %}
        <hr class="my-4">
        {% include 'section/form-section.html.twig' with
            {
                view_path: 'pages/criteria/section/notification.html.twig',
                title: 'Notifications',
                description: "Settings section intro goes here. Duis velit massa, faucibus non hendrerit
            eget."
            }
        %}
        <hr class="my-4">
        <div class="mt-3">
            <button id="submit-btn" type="submit" class="btn app-btn-primary">Enregistrer</button>
        </div>
    </form>
{% endblock %}
