{% extends "base.html.twig" %}

{% block content_title %}
    Choix de la residence
{% endblock %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/search/search.js" ></script>
{% endblock %}

{% block alert_messsage %}
    <div class="alert alert-success d-none" id="alert-success">
        Opération effectuée avec succès !
    </div>
{% endblock %}


{% block content %}
    {{ form_start(form) }}
        {% include 'pages/criteria/section/form-section.html.twig' with
            {
                view_path: 'pages/criteria/section/adresse.html.twig',
                title: 'Adresse',
            }
        %}
        <hr class="mb-4">
        {% include 'pages/criteria/section/form-section.html.twig' with
            {
                view_path: 'pages/criteria/section/type.html.twig',
                title: 'Type de logement',
            }
        %}
        <div class="mt-3">
            <div class="row g-4 settings-section">
                <div class="col-12 col-md-4">
                </div>
                <div class="col-12 col-md-8">
                    <button id="submit-btn" type="submit" class="btn app-btn-primary">Enregistrer</button>
                </div>
            </div>

        </div>
    {{ form_end(form) }}
    <hr class="my-4">
    <div class="row g-4 settings-section">
        <div class="col-12 col-md-4">
            <h3 class="section-title">{{ "notification"|trans }}</h3>
        </div>
        <div class="col-12 col-md-8">
            {% include '_partials/_notification-form.html.twig' %}<!--//app-card-->
        </div>
    </div>
{% endblock %}
